@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0 !important;
}
html
body {
  overflow-x: hidden !important;
  scroll-behavior: smooth;

}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 100%;
  scrollbar-width: none;
}
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

a {
  text-decoration: none;
}
li {
  list-style: none !important;
}







.anim{
  animation: heroAnim 4s alternate-reverse infinite ease-in;
}
@keyframes heroAnim {
  0%{
    top: 0;
  }
  100% {
    top: 20%;
  }
}

.spinner{
  animation: spinner-ani 1s infinite;
  border-top-color: #bdbdbd;
}

@keyframes spinner-ani {
  100%{
    transform:rotate(360deg);
  }
}